@model cis480_project.Models.Course

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Courses", "Index")</li>
    <li>@Html.ActionLink(@Model.Name, "Details", new { id = Model.Id})</li>
    <li>Details</li>
</ol>

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
