@model IEnumerable<cis480_project.Models.Objective>

@{
    ViewBag.Title = "Index";
    
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Courses", "Index", "Course")</li>
    <li>@Html.ActionLink((string)ViewBag.Course.Name, "Details", "Course", new { id = ViewBag.Course.Id }, null)</li>
    <li>Objectives</li>
</ol>

<h2>@ViewBag.CourseName</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {courseId = ViewBag.Course.Id})
</p>
<table class="table">
    <tr>
        <th>
            Course Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {courseId = item.CourseId, objectiveId = item.Id}) |
                @Html.ActionLink("Details", "Details", new {courseId = item.CourseId, objectiveId = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {courseId = item.CourseId, objectiveId = item.Id}) |
                @Html.ActionLink("Enabling Objectives", "Index", "EnablingObjective", new { courseId = item.CourseId, objectiveId = item.Id}, null)
            </td>
        </tr>
    }
</table>
